# shellcheck shell=bash
# This .envrc is to be used by direnv

if [ -f '.env' ]; then
    echo "direnv: loading .env file"
    dotenv .env
else
    echo "We have run \`cp .env.example .env\` for you (untracked file)."
    cp .env.example .env
fi
